*{
margin: 0;
padding: 0;
box-sizing:border-box;
}

.infocards {
    background-color: white;
    height: 150px;
    width: auto;
    border-radius: 15px;
    margin-top: 35px;
    margin-bottom: 10px;
  }
  
  .cimg1 {
    margin-top: 20px;
    
  }
  .cimg {
    margin-top: 20px;
    position: relative; 
  }
  
  .cimg::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: -15px; 
    height: 70px;
    border-left: 1px solid rgb(209, 208, 208);
  }
  
  .ptext {
    font-size: 13px;
  }
  
  .ptext:hover {
    color: orangered;
  }
  
  .ptext1 {
    font-size: 13px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  
  @media screen and (max-width:1024px) {
    .infocards{
      background-color: white;
      height: 150px;
      width: auto;
      border-radius: 15px;
      margin-top: 35px;
      margin-bottom: 10px;
  }
  .cimg1 {
    margin-top: 20px;
    
  }
  .cimg {
    margin-top: 20px;
    position: relative; 
  }
  
  .cimg::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: -7px; 
    height: 70px;
    border-left: 1px solid rgb(209, 208, 208);
  }
  .ptext{
        font-size: 13px; 
  }
  .ptext:hover{
      color: orangered;
  }
  .ptext1{
  font-size: 13px; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }        
  }    
  @media screen and (max-width:767px) {
  
    .infocards{
      background-color: white;
      height: 300px;
      width: auto;
      border-radius: 15px;
      margin-top: 35px;
      margin-bottom: 10px;
  }
  .cimg1 {
    margin-top: 20px;
    
  }
  .cimg {
    margin-top: 20px;
    position: relative; 
  }
  
  .cimg::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: -5px; 
    height: 70px;
    border-left: 1px solid rgb(209, 208, 208);
  }
  .ptext{
        font-size: 13px; 
  }
  .ptext:hover{
      color: orangered;
  }
  .ptext1{
  font-size: 13px; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }
  }
  
  @media screen and (max-width:420px) {      
  .infocards{
      background-color: white;
      height: 440px;
      width: auto;
      border-radius: 15px;
      margin-top: 35px;
      margin-bottom: 10px;
  }
  .cimg1 {
    margin-top: 20px;
    
  }
  .cimg {
    margin-top: 20px;
    position: relative; 
  }
  
  .cimg::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: -4px; 
    height: 70px;
    border-left: 1px solid rgb(209, 208, 208);
  }
   
  .ptext{
        font-size: 13px; 
  }
  .ptext:hover{
      color: orangered;
  }
  .ptext1{
  font-size: 13px; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }
  }
  @media screen and (max-width:360px) {
  .infocards{
        background-color: white;
        height: 450px;
        width: auto;
        border-radius: 15px;
        margin-top: 35px;
        margin-bottom: 10px;
    }
    .cimg1 {
      margin-top: 20px;
      
    }
    .cimg {
      margin-top: 20px;
      position: relative; 
    }
    
    .cimg::after {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      left: -10px; 
      height: 70px;
      border-left: 1px solid rgb(209, 208, 208);
    }
    .ptext{
          font-size: 13px; 
    }
    .ptext:hover{
        color: orangered;
    }
    .ptext1{
    font-size: 13px; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-left: 8px black;
    }
  }
  