#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  height: 100%;
  width: 100%;
  /* text-align: center; */
  /* font-size: 18px; */
  background: #fff;
  border-radius: 15px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit:fill;
}
/* Custom List */

.custom {
  border-radius: 15px;
  height: 350px;
  background-color: white;
  padding: 2px;
}
.img {
  border-radius: 15px;
  width: 100%;
  height: 100%; /* Adjust as desired */
  /* object-fit: cover; Maintain aspect ratio */
 
}
.a {
  text-decoration: none;
  color: grey;
}
.a:hover {
  color: orangered;
}

@media screen and (max-width:1024px) {
  .custom {
    border-radius: 15px;
    height: 350px;
    background-color: white;
    padding: 2px;
  }

  .a {
    text-decoration: none;
    color: grey;
  }

  .a:hover {
    color: orangered;
  }
}

@media screen and (max-width:767px) {
  .custom {
    border-radius: 15px;
    height: 350px;
    background-color: white;
    padding: 2px;
  }

  .media {
    margin-top: 15px;
  }

  .a {
    text-decoration: none;
    color: grey;
  }

  .a:hover {
    color: orangered;
  }
}

@media screen and (max-width:420px) {
  .custom {
    border-radius: 15px;
    height: 350px;
    background-color: white;
    padding: 2px;
  }

  .media {
    margin-top: 15px;
  }

  .a {
    text-decoration: none;
    color: grey;
  }

  .a:hover {
    color: orangered;
  }
}

@media screen and (max-width:360px) {
  .custom {
    border-radius: 15px;
    height: 350px;
    background-color: white;
    padding: 2px;
  }

  .media {
    margin-top: 15px;
  }

  .a {
    text-decoration: none;
    color: grey;
  }

  .a:hover {
    color: orangered;
  }
}